
body{
    background-color: rgb(197, 197, 197);
    max-width: 100%;
    min-width: 850px;
    color: black;
}

.home{
    height: 100px;
    background-color: rgb(136, 138, 138);
    color: white;
}
.title{
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
    text-align: center;
    text-shadow: 5px 5px 10px rgb(41, 41, 41);
}

.nav ul{
    display: flex;
    justify-content: center;

}
.nav{
    background-color: rgb(58, 58, 58);
    z-index: 1;
    position: sticky;
    top: 0;
}
.nav li{
    padding: 10px;
}

.nav li a{
    text-decoration: none;
    color: white;
}
.nav li a:hover{
    color: rgb(201, 201, 201);
}

.author{
    background-color: rgb(224, 224, 224);
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}
.right{
    flex: 1 1 70%;
}
.image-author{
    width: 200px;
    margin: 30px;
    box-shadow: 10px 10px 20px 5px  rgb(58, 58, 58);
    border-radius: 10px;
}
.author .left{
    flex: 1 1 30%;
}
.right .author-title{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}
.right .author-info{
    padding: 10px;
    font-size: 20px;
}
.skills{
    background-color: rgb(224, 224, 224);
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}
.C{
    width: 134px;
}
.p-icon{
    width: 150px;
}
.skills div{
    padding: 50px;
    text-align: center;
}
.bold{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}
.names{
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.games{
    background-color: rgb(224, 224, 224);
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.games img{
    width: 200px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 10px 10px 20px 5px  rgb(58, 58, 58);
}

.paragraph{
    text-shadow: 5px 5px 10px rgb(41, 41, 41);
    color: white;
    text-align: center;
    background-color: rgb(136, 138, 138);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    padding: 10px;
}
.title-1{
    font-size: 30px;
    font-weight: bold;  
}
.social-networks{
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(224, 224, 224);
    padding: 10px;
    text-align: center;
}
.social-networks img{
    width: 30px;
}
.end{
    text-align: center;
    padding: 30px;
}
.end h1{
    font-size: 15px;
    font-weight: bold;
    color: rgb(136, 138, 138);
}
